version: '3.0'

services:
  service-discovery:
    build:
      context: ./service-discovery
    container_name: service-discovery
    ports:
     - "8080:8080"
    volumes:
     - ./service-discovery:/app
     - ~/.m2:/root/.m2
    networks:
     - app-network
  auth-service:
    build:
      context: ./auth-service
    container_name: auth-service
    ports:
     - "8084:8080"
    volumes:
     - ./auth-service:/app
     - ~/.m2:/root/.m2
    depends_on:
     - service-discovery
    networks:
     - app-network
  gateway-service:
    build:
      context: ./gateway-service
    container_name: gateway-service
    ports:
     - "8083:8080"
    volumes:
     - ./gateway-service:/app
     - ~/.m2:/root/.m2
    depends_on:
     - service-discovery
    networks:
     - app-network
  testes-service:
    build:
      context: ./testes-service
    container_name: testes-service
    ports:
     - "8085:8080"
    volumes:
     - ./testes-service:/app
     - ~/.m2:/root/.m2
    depends_on:
     - service-discovery
    networks:
     - app-network
  # nginx:
  #   image: nginx:latest
  #   container_name: nginx
  #   ports:
  #    - "80:80"
  #   volumes:
  #    - ./nginx.conf:/etc/nginx/nginx.conf:ro
  #   depends_on:
  #    - demo1
  #    - demo2
  #   networks:
  #    - app-network
  # rabbitmq:
  #   image: "rabbitmq:4.1.4-management"
  #   container_name: rabbitmq
  #   environment:
  #     - RABBITMQ_DEFAULT_USER=admin
  #     - RABBITMQ_DEFAULT_PASS=admin
  #   ports:
  #     - "5672:5672"
  #     - "15672:15672"
  #   networks:
  #     - app-network
networks:
  app-network:
    driver: bridge